# Go backend
/backend/tmp
/backend/vendor
/backend/.env.local
/backend/.env.*.local

# React Native frontend
/frontend/node_modules/
/frontend/.expo/
/frontend/dist/
/frontend/npm-debug.*
/frontend/*.jks
/frontend/*.p8
/frontend/*.p12
/frontend/*.key
/frontend/*.mobileprovision
/frontend/*.orig.*
/frontend/web-build/

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 
backend/.env
backend/fake-mail-server
